<div id='itemlist' class="container-fluid" style="margin-top: 15%">
    <!--
    <div id="rowitem1">
        <div class="col-xs-10"><h1 class="price">Tomatoes</h1></div>
        <div class="col-xs-2"><span class="sign">6.00</span></div>
    </div>
    <div class="row2">
        <div class="col-xs-12">
            <hr class="dashed">
        </div>
    </div>
    <div class="rowitem">
        <div class="col-xs-10"><h1 class="price">Lettuce</h1></div>
        <div class="col-xs-2"><span class="sign">5.99</span></div>
    </div>
     <div class="row2">
        <div class="col-xs-12">
            <hr class="dashed">
        </div>
    </div>
    <div class="rowitem">
        <div class="col-xs-10"><h1 class="price">Chicken</h1></div>
        <div class="col-xs-2"><span class="sign">10.50</span></div>
    </div>
     <div class="row2">
        <div class="col-xs-12">
            <hr id="totalhr">
        </div>
    </div>
     <div class="rowitem">
        <div class="col-xs-10"><h1 class="total">Total</h1></div>
        <div class="col-xs-2"><span class="sign">22.49</span></div>
    </div>
    
    <footer id="bottomNavbar" class="navbar navbar-inverse navbar-fixed-bottom"><center><span class="glyphicon glyphicon-camera"></span></center></footer>
    -->
</div>