<div class="container-fluid">
    <center><button type="button" class="btn btn-primary" style="margin-top:15%">Add</button></center>
    <form class="form-inline">
        <div class="form-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="margin-top:10%">Category<span class="caret"></span></button>
            <input type="text" class="form-control" id="priceInput" placeholder="Budget limit (E.g. $100)">
        </div>
    </form>
    <h1 style="margin-top: 10%" id="total">Total:</h1><span style="float:right;">$0.00</span>
    <center><button type="button" class="btn btn-default" style="margin-top:5%"> NEXT </button></center>
    
</div>